
body{
    margin: 0 !important;
}
 .container{
     width: 98vw;
 }
/* 
.heroImg{
    width: 98vw !important;
} */

#scratch-off-page .box {
    position: relative;
    display: flex;
    margin: auto;
    /*                padding-left: 26%;*/
    top: 0;
    width: 100vw;
    height: 45vh;
    z-index: 2;

}

canvas {
    position: relative;
    display: flex;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: crosshair;
    z-index: 2;
}

p {
    text-align: center;
    justify-content: center;
    font-family: montserrat;
    font-size: 1.2em;

}

.body_box {
    min-width: 90vw;
    position: absolute;
    text-align: center;
    justify-content: center;
}

.flex-container {

    text-align: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
}

.flex-child {
    flex: 1;
}

.mobilebox {
    position: relative;
    margin-bottom: 400px;
    z-index: 2;
}

.coverbox {
    background-color: #c69c6d;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 2;

}

.coverbox p {

    color: #ffffff;
    text-align: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    z-index: 2;

}

.scratch-below-mobile p {
    text-align: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}


.scratch-below p {
    text-align: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: light;
    font-size: 2.2em;
}

.hidden-secret p {
    text-align: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.hidden-secret-mobile {
    z-index: 1;
}

.hidden-secret-mobile p {
    text-align: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}

.treat-code {
    color: #c14c32;
}

.halloween-right {
    margin-left: 20;
    margin-right: 20;
    margin-bottom: 20;
    margin-top: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
}

your-treat {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100vw;
    overflow: hidden;
}
